# Godot-specific ignores
.godot/                        
.import/                      
export_preset.cfg            

*.import                      

*.exe                          
*.pck                          
*.zip                          

.DS_Store                    
Thumbs.db                    
*.tmp                        
*.log                        